.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

a {
    text-decoration: underline;
    &:hover {
        color: darkblue;
    }
    &.navbar-item:hover, &.button:hover {
        color:whitesmoke;
    }
}